.main-footer {
    background-image: url("../images/memphis-shapes.svg");
    background-size: cover;
    &.w-border-top {
        border-top: 1px solid lighten($soft-gray, 12%);
    }
    .footer-image {
        width: 3.8rem;
        display: inline-block;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }
    .footer-title {
        margin-bottom: 1.3em;
    }
}
